body {
  display: flex;
  justify-content: center;
  font-family: encode sans;
}

.page {
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.globo-com {
  width: 170px;
  height: 35px;
}

.borda-topo {
  position: initial;
  width: 100%;
  border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7;
}

.logo {
  max-width: 1250px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-topo {
  max-width: 1250px;
  font-weight: 700;
  font-size: 19px;

  /* border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7; */

  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.g1 {
  color: #c3170c;
}
.o-globo {
  color: #1e4b9b;
}
.valor {
  color: #006766;
}
.ge {
  color: #07aa47;
}
.cartola {
  color: #e3662b;
}
.globoplay {
  color: #fb0735;
}
.dropz {
  color: #ff75bb;
}
.gshow {
  color: #ec7d00;
}
.quem {
  color: #323333;
}
.receitas {
  color: #a81d83;
}

.materias {
  max-width: 1250px;
  padding-top: 34px;
  padding-bottom: 34px;

  display: grid;
  grid-template-columns: 55% 24% 24%;
  grid-template-areas: "a b c";
}

.principais {
  border-right: 1px solid #ebedef;
  grid-area: a;
}

.principal {
  margin-right: 42px;
  font-size: 52px;
  font-weight: 700;
  line-height: 67px;
  color: #c4160c;
  padding-bottom: 29px;
}

.secundaria {
  margin-right: 42px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #303134;
  padding-bottom: 25px;
  /* border-bottom: 1px solid #ebedef; */
}

.lista-sec {
  padding-bottom: 7px;
  line-height: 22px;
}
.noticia-imagem {
  margin-right: 36px;
  padding-top: 25px;
  padding-bottom: 36px;

  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #ebedef; */

  border-top: 1px solid #ebedef;
  border-bottom: 1px solid #ebedef;
}

.divwidth1 {
  width: 193px;
}
.divwidth2 {
  width: 240px;
  padding-bottom: 50px;
}

.img1 {
  height: 110px;
  border-radius: 12px;
}

.img2 {
  height: 128px;
  width: 240px;
  border-radius: 12px;
}

.titulo1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #c4170c;

  padding-top: 11px;
  padding-bottom: 6px;
}

.titulo2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #16ae54;

  padding-top: 11px;
  padding-bottom: 6px;
}

.titulo3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #ec8006;

  padding-top: 11px;
  padding-bottom: 6px;
}

.conteudo1 {
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;

  padding-bottom: 15px;
}

.conteudo2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.noticia-sem-imagem {
  margin-right: 36px;
  padding-top: 25px;

  display: flex;
  justify-content: space-between;
}

.coluna-meio {
  border-right: 1px solid #ebedef;
  display: flex;
  justify-content: center;
  grid-area: b;
}

.materia-meio {
  display: flex;
  flex-direction: column;
  /*
  align-content: space-between;
  justify-content: space-between; */
}

.coluna-direita {
  display: flex;
  justify-content: center;
  grid-area: c;
}

.materia-direita {
  display: flex;
  flex-direction: column;
  /*
  align-content: space-between;
  justify-content: space-between; */
}
